{# This config is common to all Junos device types. For it to be generated the 'common_header' role must be included in the platform specific play file. #}

# *** COMMON_HEADER ***
# Hostname: {{ host }}
# Type: {{ role }}
# Location: {{ location.city }}, {{ location.state }}
# Template Revision: {{ revision }}
# *********************
