{# This config is common to all Junos device types. For it to be generated the 'common_interfaces' role must be included in the platform specific play file. #}

# *** COMMON_INTERFACES CONFIGURATION ***

{# VLANS #}
{% if vlans is defined %}
{% for site_vlan in site_vlans %}
{% for vlan in vlans %}
{% if site_vlan.name == vlan %}
set vlans {{ site_vlan.name }} vlan-id {{ site_vlan.id }}
{% endif %}
{% endfor %}
{% endfor %}
{% else %}
{% for site_vlan in site_vlans %}
set vlans {{ site_vlan.name }} vlan-id {{ site_vlan.id }}
{% endfor %}
{% endif %}

{# DETERMINE NUMBER OF AGGREGATED INTERFACES #}
{% set mylist = [0] %}
{% for intf in interface.trunks %}
{% if "ae" in intf.name %}
{% set num = intf.name.split("ae") %}
{% if num[1]|int > mylist[0]|int %}
{% if mylist.append(num[1]|int) %}
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
set chassis aggregated-devices ethernet device-count {{ mylist | max }}

{# TRUNK INTERFACE #}
{% if interface.trunks is defined %}
{% for trunk in interface.trunks %}
{# OPTIONAL AGG CONFIG #}
{% if trunk.agg is defined %}
{% for agg_intf in trunk.agg %}
{% set prefx = 'set interfaces ' + agg_intf %}
{{ prefx }} "To {{ trunk.peer }} ({{ trunk.name }})"
{{ prefx }} ether-options 802.3ad {{ trunk.name }}
{% endfor %}
{% endif %}
{# TRUNK MODE CONFIG #}
{% set prefx = 'set interfaces ' + trunk.name %}
{{ prefx }} description "To {{ trunk.peer }}"
{% if "EX4300" in model %}
{{ prefx }} unit 0 family ethernet-switching interface-mode trunk
{% else %}
{{ prefx }} unit 0 family ethernet-switching port-mode trunk
{% endif %}
{# TRUNK VLAN CONFIG #}
{% if trunk.vlans is defined %}
{% for vlan in trunk.vlans %}
{{ prefx }} unit 0 family ethernet-switching vlan members {{ vlan }}
{% endfor %}
{% else %}
{% for vlan in vlans %}
{{ prefx }} unit 0 family ethernet-switching vlan memers {{ vlan }}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}

{# ACCESS INTERFACE #}
{% if interface.access is defined %}
{% if interface.access.range is defined %}
{% for myrange in interface.access.range %}
{% for myport in range(myrange.start_port, myrange.end_port) %}
{% set intf = 'set interfaces ' + myrange.prefix + '/' + myport|string %}
{{ intf }} description "Vlan {{ myrange.vlan }}"
{% if "EX4300" in model %}
{{ intf }} unit 0 family ethernet-switching interface-mode access
{% else %}
{{ intf }} unit 0 family ethernet-switching port-mode access
{% endif %}
{{ intf }} unit 0 family ethernet-switching vlan members {{ myrange.vlan }}
{% endfor %}
{% endfor %}
{% endif %}
{% endif %}